.return {
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    width: 133px;
    height: 37px;
    text-align: center;
    line-height: 35px;
    border-radius: 37px;
    border: 2px solid #000;
    color: #000;
    font-size: 14px;
    transition: all .4s ease-in;
    box-sizing: border-box;
    padding-right: 10px;
    position: relative;
}
#dtl .pagin {
    padding: 20px 0 0;
}.tit-box {
    color: #000;
    line-height: 1.3;
    font-weight: bold;
}.tit-box .tit {
    font-size: 30px;
}.tit-box .entit {
    font-size: 36px;
}
