<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>资讯动态-大乘汽车</title>
		<!--引入bootstrap.min.css文件-->
		<link rel="stylesheet" type="text/css" href="../../../plugins/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/navbar.css"/>
		<link rel="stylesheet" type="text/css" href="../../../css/two/two.css"/>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="carousel-fluid">
			<div class="row">
				<div class="ad" style="height: auto;position: relative; overflow: hidden;">
        <video autoplay="true" class="pcitem" src="../../../img/two/11.mp4" style="width: 100%;    display: inline-block;
    vertical-align: baseline;"></video>
        
    </div>
			</div>
			<div class="row" style="position: relative;top: 20%;left:35%;">
				<div class="item tit-box" >
                    <div class="tit wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">视频集锦</div>
                    <div class="entit gotham-bold wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Video collection</div>
                </div>
			</div>
			<div class="row">
				<div class="imgs" style="padding-bottom:66.672767203514%">
                        <div class="play" data-src="http://www.dorcen.com/upload/2018/10/24/15403621182521o59zi.mp4"></div>
                        </div>
			</div>
		</div>
		<script src="../../../plugins/jquery/jquery.min.js" type="text/javascript"></script>
		<!--引入bootstrap.js-->
		<script type="text/javascript" src="../../../plugins/bootstrap/js/bootstrap.min.js" ></script>
	</body>
</html>
