/*响应式导航背景*/
.navbar-default {
    background-color: black;
    border-color: #e7e7e7;
  /*  height: 80px;*/
}

/*大乘汽车*/
.navbar-default .navbar-brand {
    color: white;
    font-size: 32px;
    margin-top: 10px ;
}

/*导航栏中li的样式*/
.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 16px;
    margin-top: 12px;
    z-index: 2px;
}