<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>G70S-大乘汽车</title>
		<!--引入bootstrap.min.css文件-->
		<link rel="stylesheet" type="text/css" href="../plugins/bootstrap/css/bootstrap.css"/>
	</head>
	<body>
		<div class="carousel-fluid">
			<div class="row">
		<video width="320" height="240" controls>
  <source src="../../../img/13.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
您的浏览器不支持Video标签。
</video>
			</div>
			
		</div>
		
		<!--引入jquery文件-->
		<script src="../plugins/jquery/jquery.min.js" type="text/javascript"></script>
		<!--引入bootstrap.js-->
		<script type="text/javascript" src="../plugins/bootstrap/js/bootstrap.js" ></script>
	</body>
</html>
